@import url('../../res/css/navegacao-portais.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('../fonts/gotham/gotham.css');

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  min-height: 75rem;
  padding-top: 30px;
  background: #ffffff;
  font-family:'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Gotham;
  text-transform: uppercase;
  font-weight: 600;
  color: #CC0000;
}

.text-red {
  color: #CC0000;
}

#header {
  min-height: 125px;
  background: linear-gradient(to right, #990099, #cc0000);
}

section {
  margin: 40px 0;
}

#menu-portal {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#menu-portal .user {
  font-size: 11.5px;
}

#menu-portal .nav-item:first-child {
  margin-left: 0;
  padding-left: 0;
}
#menu-portal .nav-item {
 margin: .3rem 0 ;
 margin-left: .6rem;
 padding-left: 0;
}

#menu-portal #educacao.nav-item,
#menu-portal #cultura.nav-item,
#menu-portal #esporte.nav-item,
#menu-portal #mercado.nav-item,
#menu-portal #corporativo.nav-item {
  border-left-width: 4px;
  border-left-style: solid;
}

#menu-portal #educacao.nav-item {
  border-left-color:  #ed6b1f;
}

#menu-portal #educacao.nav-item.active .nav-link {
  color: #ed6b1f;
}

#menu-portal #cultura.nav-item {
  border-left-color: #9d4fa6;
}

#menu-portal #cultura.nav-item.active .nav-link {
  color: #9d4fa6;
}

#menu-portal #esporte.nav-item {
  border-left-color: #118711;
}

#menu-portal #esporte.nav-item.active .nav-link {
  color: #118711;
}

#menu-portal #mercado.nav-item {
  border-left-color: #666666;
}

#menu-portal #mercado.nav-item.active .nav-link {
  color: #666666;
}

#menu-portal #corporativo.nav-item {
  border-left-color: #666666;
}

#menu-portal #corporativo.nav-item.active .nav-link {
  color: #666666;
}

#menu-portal .nav-link {
  padding: .2rem 0 .2rem .5rem;
}



#menu-portal .dropdown-menu {
  position: absolute;
  font-size: 14px;
  padding: 0;
  border-top: 4px solid #cc0000;
  z-index: 999;
}

#menu-portal .dropdown-item {
  padding: .5rem 1.5rem;
}

#menu-portal .dropdown-item.active,
#menu-portal .dropdown-item:active,
.dropdown-item.active, 
.dropdown-item:active {
  background-color: #cc0000 !important;
}

#menu-portal .dropdown-item.active .fa,
#menu-portal .dropdown-item:active .fa{
  color: #ffffff;
}

#menu-portal .dropdown-divider {
  margin: 0;
}

#menu-portal .navbar-collapse {
  margin-top: 10px;
  border-top: 1px solid #ccc; 
}

#menu-portal .navbar-toggler {
  padding: .1rem .5rem;
  font-size: 1rem;
}
#menu-portal .navbar-toggler-icon {
  border: red
}




.box {
  width: 100%;
  min-height: 160px;
  margin-bottom: 1.5rem;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  text-transform: uppercase; 
  border-radius: 20px;
  background: #efefef;
  transition: all 0.15s ease ;
}

.box a { color: inherit;text-decoration: none !important }

/*SE NAO FOR SETADO NENHUM ID PARA O BOX, O HOVER SERÃ O PADRAO ABAIXO*/
.box:hover {
  color: #FFFFFF !important;
  background: #cc0000;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  transition: all 0.15s ease ;
}

.box .svg {
  filter: invert(0)   brightness(1.25);
}

.box:hover .svg {
  filter: invert(1)   brightness(2);
}

.box:hover .taksbar .open-new-tab {
  display: inline-block;
}

.taksbar {
  display: inline-block;
  font-size: 9px;
  width: 100%; 
  z-index: 9999;
}

.taksbar #open-new-tab,
.taksbar .pin {
  cursor: pointer;
}

.taksbar #open-new-tab .alt,
.taksbar .pin .alt{
  display: none;
  transition: all 0.15s ease ;
  cursor: pointer;
}

.taksbar #open-new-tab:hover .alt,
.taksbar .pin:hover .alt {
  display: inline-block;
  transition: all 0.15s ease ;
}

.taksbar .pin i.fa{
  transform: rotate(90deg);
  transition: transform 0.1s ease ; 
}

.taksbar .pin i.fa:hover {
  transform: rotate(45deg);
}

.logo-servico {
  display: flex;
  width: 80%;
  height: 100%;
  min-height: 5rem; 
  max-height: 5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-servico img {
  max-height: inherit;
}

.titulo-servico {
  display: flex;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2.4rem; 
}

#main, #pinned {
  display: contents
}

#pinned .taksbar .pin i.fa {
  color: #cc0000;
  transform: rotate(45deg);
  cursor: pointer;
}

#pinned .box:hover .taksbar .pin i.fa { 
  color: #FFFFFF !important;
}

#portal-educa .carousel-item .img-carousel {
  min-height: 200px; 
  background-size: cover !important; 
  background-position: center !important;
}


/*LATERAL*/

#portal-educa .carousel {
  width: 95%;
  margin: 0 auto 2rem;
}

#yammer {

  border: 1px solid #ccc;
}


/*AVISOS*/
table thead {
  font-family: Gotham;
  text-transform: uppercase; 
}
table th {
  font-weight: 600;
}
.thead-red {
  color: #ffffff;
  background-color: #cc0000;
}


/**** FOOTER ****/
.hidden-span {
  display: none;
}

footer {
  color: #ffffff;
}

footer section {
  margin: 0;
}

footer .faixa-links {
  list-style: none;
  padding-left: 0;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #707070;
  background-color: #f0f0f0;
  text-transform: uppercase;
}

footer .faixa-links ul {
  margin: 9px auto;
}

footer .faixa-links li {
  display: inline-block;
}

footer .faixa-links li {
  display: inline-block;
}

footer .faixa-links li {
  padding: 0 20px 0 0;
}

footer .faixa-links li a {
  color: #707070;
}

footer .faixa-links li:last-child {
  padding: 0;
}

footer .faixa-links a:hover {
  color: #000000;
}

footer .endereco {
  font-size: 13px;
  background-color: #701631;
  padding: 20px 0;
  border-bottom: 0px solid #ffffff;
  line-height: 18px;
}

footer .endereco strong {
  font-size: 16px;
}

footer .endereco ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

footer .endereco li {
  list-style: none;
  line-height: 24px;
  text-transform: uppercase;
}

footer .endereco li .fa {
  margin-right: 4px !important;
}



footer .endereco a,
footer .mapa-site a {
  color: #ffffff;
}

footer .mapa-site {
  background-image: url(../images/bg_footer_evento.jpg);
  background-position: 50% 0;
  background-size: cover;
  /*min-height: 340px;*/
  padding-top: 40px;
  padding-bottom: 20px;
}

footer .mapa-site ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
}

footer .mapa-site ul li {
  padding: 6px 0;
  line-height: 14px;
}

footer .mapa-site ul .title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
}

footer .mapa-site ul a:hover {
  text-decoration: underline;
}

footer .mapa-site .list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

footer .mapa-site .separador {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px dashed #ffffff;
}

footer .mapa-site .social-media {
  font-size: 24px;
}

footer .mapa-site .social-media li {
  padding: 0 6px 0 0;
}



footer .mapa-site .social-media li:last-child {
  padding: 0;
}

footer .mapa-site .social-media li a {
  width: 35px;
  height: 35px;
  padding: 5px 5px 5px 4px;
  display: block;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border-radius: 100%;
}

footer .mapa-site .social-media li a.facebook {
  padding-right: 5px;
}

footer .mapa-site .social-media li a.twitter {
  padding-right: 1px;
}

footer .mapa-site .social-media li a.youtube {
  padding-right: 3px;
}

footer .mapa-site .social-media li a.linkedin {
  padding-left: 8px;
}

footer .mapa-site .social-media li a.instagram {
  padding-left: 5px;
}

footer .mapa-site .social-media li a.facebook:hover {
  color: #3c599f;
}

footer .mapa-site .social-media li a.twitter:hover {
  color: #5ea9dd;
}

footer .mapa-site .social-media li a.youtube:hover {
  color: #e12b28;
}

footer .mapa-site .social-media li a.linkedin:hover {
  color: #0177b5;
}

footer .mapa-site .social-media li a.instagram:hover {
  color: #ff4081;
}

footer .mapa-site .social-media li a:hover {
  text-decoration: none;
  background-color: #fff;
}

footer .copyrights {
  font-size: 12px;
  background-color: #b4224f;
  text-align: center;
  padding: 10px 0;
}











/*
###### RESPONSIVE ###### 
*/

@media (min-width: 500px){
  #portal-educa .carousel-item .img-carousel {
    min-height: 240px; 
  }
}


@media (min-width: 767px){
  #menu-portal {
    font-size: 11px;
  }

  #menu-portal .user {
    font-size: inherit;
  }

  #menu-portal .navbar-collapse {
    margin-top: 0px;
    border-top: 0px; 
  }

  #menu-portal .navbar-nav {
    text-align: left;
  }

  #menu-portal .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
  }
  #portal-educa .carousel-item .img-carousel {
    min-height: 320px; 
  }

  footer .endereco ul {
    margin-top: 8px;
  }

  footer .endereco li .fa {
    margin-right: 8px !important;
  }
  
}





@media (min-width: 992px){
  #menu-portal {
   font-size: 13px;
 }

 #menu-portal .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}


#portal-educa .carousel {
  width: 100%;
  margin: 0 auto 2rem;
}

#portal-educa .carousel-item .img-carousel {
  min-height: 330px; 
}

}



@media (min-width: 1200px){
  #portal-educa .carousel-item .img-carousel {
    min-height: 390px; 
  }
}